{"openapi": "3.1.0", "info": {"title": "Check Point AI Security API", "description": "Unified API for Check Point AI Security \u2014 policy management and asset visibility.\n\n## Authentication\nAll endpoints require a valid CloudInfra JWT token passed as a Bearer token in the `Authorization` header.\n\n### Obtaining a JWT Token\n1. Go to the [Infinity Portal API Keys page](https://portal.checkpoint.com/dashboard/settings/api-keys).\n2. Click **New** \u2192 **New Account API Key**.\n3. In the **Service** dropdown select **Workforce AI Security** and create the key.\n4. Use the generated API key to obtain a JWT token from CloudInfra.\n5. Include the JWT in every request:\n   ```\n   Authorization: Bearer <JWT_TOKEN>\n   ```\n\n## Rate Limiting\nDefault limits vary per endpoint group. Exceeding any limit results in a 5-minute block period.\n", "version": "1.0.1"}, "servers": [{"url": "https://cloudinfra-gw.portal.checkpoint.com", "description": "Europe Region"}, {"url": "https://cloudinfra-gw-us.portal.checkpoint.com", "description": "United States Region"}], "paths": {"/app/genai-protect-policy/external/v1/chats/rulebase": {"get": {"tags": ["Chats Policy"], "summary": "Get the Chats rulebase with all rules and version", "operationId": "get_chats_rulebase_external_v1_chats_rulebase_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetRulebaseResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/chats/rule": {"post": {"tags": ["Chats Policy"], "summary": "Create a Chats rule", "operationId": "add_chats_rule_external_v1_chats_rule_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddChatsRuleRequest"}}}, "required": true}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddRuleResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/chats/rule/set-policy": {"put": {"tags": ["Chats Policy"], "summary": "Replace the entire policy of a Chats rule", "operationId": "set_chats_policy_external_v1_chats_rule_set_policy_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetChatsPolicyRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Set Chats Policy External V1 Chats Rule Set Policy Put"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/chats/rule/patch-policy": {"patch": {"tags": ["Chats Policy"], "summary": "Partially update the policy of a Chats rule (deep merge)", "operationId": "patch_chats_policy_external_v1_chats_rule_patch_policy_patch", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PatchChatsPolicyRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Patch Chats Policy External V1 Chats Rule Patch Policy Patch"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/ai-access/rulebase": {"get": {"tags": ["AI Access Policy"], "summary": "Get the AI Access rulebase with all rules and version", "operationId": "get_ai_access_rulebase_external_v1_ai_access_rulebase_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetRulebaseResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/ai-access/rule": {"post": {"tags": ["AI Access Policy"], "summary": "Create an AI Access rule", "operationId": "add_ai_access_rule_external_v1_ai_access_rule_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddAccessRuleRequest"}}}, "required": true}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddRuleResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/ai-access/rule/set-policy": {"put": {"tags": ["AI Access Policy"], "summary": "Replace the entire AI Access policy of a rule", "operationId": "set_ai_access_policy_external_v1_ai_access_rule_set_policy_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetAccessPolicyRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Set Ai Access Policy External V1 Ai Access Rule Set Policy Put"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/ai-access/rule/patch-policy": {"patch": {"tags": ["AI Access Policy"], "summary": "Partially update the AI Access policy of a rule (deep merge)", "operationId": "patch_ai_access_policy_external_v1_ai_access_rule_patch_policy_patch", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PatchAccessPolicyRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Patch Ai Access Policy External V1 Ai Access Rule Patch Policy Patch"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/agents/rulebase": {"get": {"tags": ["Agents Policy"], "summary": "Get the Agents rulebase with all rules and version", "operationId": "get_agents_rulebase_external_v1_agents_rulebase_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetRulebaseResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/agents/rule": {"post": {"tags": ["Agents Policy"], "summary": "Create an Agents rule", "operationId": "add_agents_rule_external_v1_agents_rule_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddMCPServerRuleRequest"}}}, "required": true}, "responses": {"201": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddRuleResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/agents/rule/set-policy": {"put": {"tags": ["Agents Policy"], "summary": "Replace the entire policy of an Agents rule", "operationId": "set_agents_policy_external_v1_agents_rule_set_policy_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetMCPServerPolicyRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Set Agents Policy External V1 Agents Rule Set Policy Put"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/agents/rule/patch-policy": {"patch": {"tags": ["Agents Policy"], "summary": "Partially update the policy of an Agents rule (deep merge)", "operationId": "patch_agents_policy_external_v1_agents_rule_patch_policy_patch", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PatchMCPServerPolicyRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Patch Agents Policy External V1 Agents Rule Patch Policy Patch"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/rules/set-info": {"put": {"tags": ["Rulebase"], "summary": "Update rule display info (name, description)", "operationId": "set_rule_info_external_v1_rules_set_info_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommonSetInfoRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Set Rule Info External V1 Rules Set Info Put"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/rules/reorder": {"put": {"tags": ["Rulebase"], "summary": "Change a rule's priority position in the rulebase", "operationId": "reorder_rule_external_v1_rules_reorder_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommonReorderRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Reorder Rule External V1 Rules Reorder Put"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/rules/set-source": {"put": {"tags": ["Rulebase"], "summary": "Replace the user/group source of a rule", "operationId": "set_source_external_v1_rules_set_source_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommonSetSourceRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Set Source External V1 Rules Set Source Put"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/rules/set-active": {"put": {"tags": ["Rulebase"], "summary": "Enable or disable a rule without deleting it", "operationId": "set_active_external_v1_rules_set_active_put", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommonSetActiveRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"additionalProperties": true, "type": "object", "title": "Response Set Active External V1 Rules Set Active Put"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/rules/{rule_id}": {"delete": {"tags": ["Rulebase"], "summary": "Permanently delete a rule from the rulebase", "operationId": "delete_rule_external_v1_rules__rule_id__delete", "security": [{"HTTPBearer": []}], "parameters": [{"name": "rule_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Rule Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommonDeleteRuleResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}}}, "/app/genai-protect-policy/external/v1/dlp-datatypes/predefined": {"get": {"tags": ["DLP Datatypes"], "summary": "Get all predefined DLP datatypes", "operationId": "get_predefined_datatypes_external_v1_dlp_datatypes_predefined_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetDlpDataTypesResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/dlp-datatypes/custom": {"get": {"tags": ["DLP Datatypes"], "summary": "Get all custom DLP datatypes", "operationId": "get_custom_datatypes_external_v1_dlp_datatypes_custom_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetDlpDataTypesResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/dlp-datatypes/all": {"get": {"tags": ["DLP Datatypes"], "summary": "Get all DLP datatypes (predefined and custom)", "operationId": "get_all_datatypes_external_v1_dlp_datatypes_all_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetDlpDataTypesResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/dlp-datatypes": {"get": {"tags": ["DLP Datatypes"], "summary": "Get DLP datatypes for tenant", "operationId": "get_datatypes_external_v1_dlp_datatypes_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetDlpTenantDataTypesResponse"}}}}}, "security": [{"HTTPBearer": []}]}, "post": {"tags": ["DLP Datatypes"], "summary": "Set DLP datatypes for tenant", "operationId": "set_datatypes_external_v1_dlp_datatypes_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetDlpTenantDataTypesRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SetDlpTenantDataTypesResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/dlp-datatypes/installation/status": {"get": {"tags": ["DLP Datatypes"], "summary": "Get data type installation status", "operationId": "get_installation_status_route_external_v1_dlp_datatypes_installation_status_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataTypeInstallationResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-policy/external/v1/dlp-datatypes/installation/retry": {"post": {"tags": ["DLP Datatypes"], "summary": "Retry data type installation", "operationId": "retry_installation_route_external_v1_dlp_datatypes_installation_retry_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DataTypeInstallationResponse"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-assets/external/v1/assets": {"post": {"tags": ["Deployment Status"], "summary": "Query assets with domain joins, filters and pagination", "operationId": "query_assets_external_v1_assets_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetsRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-assets/external/v1/assets/count": {"post": {"tags": ["Deployment Status"], "summary": "Get count of assets matching filters", "operationId": "get_assets_count_external_v1_assets_count_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetsCountRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssetsCountResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-assets/external/v1/users": {"post": {"tags": ["Users"], "summary": "Query users with pagination and search", "operationId": "query_users_external_v1_users_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-assets/external/v1/users/by-ids": {"post": {"tags": ["Users"], "summary": "Get users by array of IDs", "operationId": "get_users_by_ids_endpoint_external_v1_users_by_ids_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersByIdsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsersByIdsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-apps/external/v1/apps/search": {"post": {"tags": ["Apps Catalog"], "summary": "Search GenAI apps by name, name, description, or URL", "operationId": "search_apps_external_v1_apps_search_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppSearchRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppSearchResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}, "/app/genai-protect-apps/external/v1/apps/by-ids": {"post": {"tags": ["Apps Catalog"], "summary": "Get GenAI apps by array of IDs", "operationId": "get_apps_by_ids_external_v1_apps_by_ids_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppsByIdsRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AppsByIdsResponse"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}}, "security": [{"HTTPBearer": []}]}}}, "components": {"schemas": {"AccessPolicy": {"properties": {"services_and_application": {"anyOf": [{"$ref": "#/components/schemas/ServicesAndApplication"}, {"type": "null"}], "description": "Services and application configuration"}, "action": {"anyOf": [{"type": "string", "enum": ["block", "allow", "ask"]}, {"type": "null"}], "title": "Action", "description": "Action to take for access control"}, "logging": {"anyOf": [{"$ref": "#/components/schemas/LoggingStatus"}, {"type": "null"}], "description": "Whether logging is enabled"}, "download_file_protection": {"anyOf": [{"$ref": "#/components/schemas/FileDownloadActionSupported"}, {"type": "null"}], "description": "File download protection action. Must be 'na' for GenAI rules; must not be 'na' for Browse rules."}, "upload_file_protection": {"anyOf": [{"$ref": "#/components/schemas/FileUploadActionSupported"}, {"type": "null"}], "description": "File upload protection action. Must be 'na' for GenAI rules; must not be 'na' for Browse rules."}}, "type": "object", "title": "AccessPolicy"}, "Account": {"properties": {"account_id": {"type": "string", "title": "Account Id", "description": "Account identifier"}}, "type": "object", "required": ["account_id"], "title": "Account", "description": "External-safe twin of Account."}, "AccountSelectionMode": {"type": "string", "enum": ["all", "selected_account"], "title": "AccountSelectionMode", "description": "Account selection mode enumeration.\n\nDetermines which accounts/organizations the policy applies to:\n\n- ALL: Policy applies to all tool instances (e.g., cloud desktop, ChatGPT desktop, etc.),\n  regardless of whether they are connected to an account/organization or not.\n\n- SELECTED_ACCOUNT: Policy applies only to tool instances (e.g., cloud desktop, ChatGPT\n  desktop, etc.) that are connected to one of the specified account IDs (organization IDs\n  in some tools' terminology). Tool instances not connected to any account or connected\n  to accounts not in the list will not be affected by this policy."}, "AddAccessRuleRequest": {"properties": {"name": {"type": "string", "title": "Name", "description": "Human-readable rule name"}, "description": {"type": "string", "title": "Description", "description": "Explanation of the rule's purpose", "default": ""}, "order": {"type": "integer", "title": "Order", "description": "Position in the rulebase; lower values are evaluated first and take precedence"}, "policy": {"$ref": "#/components/schemas/AccessPolicy", "description": "Access control policy configuration"}, "source": {"items": {"$ref": "#/components/schemas/Assignment"}, "type": "array", "title": "Source", "description": "Users or groups this rule applies to; empty means all users"}}, "type": "object", "required": ["name", "order", "policy"], "title": "AddAccessRuleRequest", "description": "Create a new Access rule.\n\nAccess rules control which AI services and applications users are allowed\nto interact with, including allow/block decisions per service."}, "AddChatsRuleRequest": {"properties": {"name": {"type": "string", "title": "Name", "description": "Human-readable rule name"}, "description": {"type": "string", "title": "Description", "description": "Explanation of the rule's purpose", "default": ""}, "order": {"type": "integer", "title": "Order", "description": "Position in the rulebase; lower values are evaluated first and take precedence"}, "policy": {"$ref": "#/components/schemas/ChatsPolicy", "description": "Chats policy configuration for chat interactions"}, "source": {"items": {"$ref": "#/components/schemas/Assignment"}, "type": "array", "title": "Source", "description": "Users or groups this rule applies to; empty means all users"}}, "type": "object", "required": ["name", "order", "policy"], "title": "AddChatsRuleRequest", "description": "Create a new Chats rule.\n\nChats rules control data-loss-prevention for AI chat interactions:\nprompt/response inspection, sensitive-data detection, and file transfer policies."}, "AddMCPServerRuleRequest": {"properties": {"name": {"type": "string", "title": "Name", "description": "Human-readable rule name"}, "description": {"type": "string", "title": "Description", "description": "Explanation of the rule's purpose", "default": ""}, "order": {"type": "integer", "title": "Order", "description": "Position in the rulebase; lower values are evaluated first and take precedence"}, "policy": {"$ref": "#/components/schemas/AgentsPolicy", "description": "Agents policy configuration"}, "source": {"items": {"$ref": "#/components/schemas/Assignment"}, "type": "array", "title": "Source", "description": "Users or groups this rule applies to; empty means all users"}}, "type": "object", "required": ["name", "order", "policy"], "title": "AddMCPServerRuleRequest", "description": "Create a new Agents rule.\n\nAgents rules govern agent interactions, including which tools\nagents can invoke and what access controls apply to agent operations."}, "AddRuleResponse": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "The UUID of the newly created rule"}}, "type": "object", "required": ["rule_id"], "title": "AddRuleResponse", "description": "Response returned after creating a rule."}, "AddSecureBrowsingRuleRequest": {"properties": {"name": {"type": "string", "title": "Name", "description": "Human-readable rule name"}, "description": {"type": "string", "title": "Description", "description": "Explanation of the rule's purpose", "default": ""}, "order": {"type": "integer", "title": "Order", "description": "Position in the rulebase; lower values are evaluated first and take precedence"}, "policy": {"$ref": "#/components/schemas/SecureBrowsingPolicy", "description": "Secure Browsing policy configuration"}, "source": {"items": {"$ref": "#/components/schemas/Assignment"}, "type": "array", "title": "Source", "description": "Users or groups this rule applies to; empty means all users"}}, "type": "object", "required": ["name", "order", "policy"], "title": "AddSecureBrowsingRuleRequest", "description": "Create a new Secure Browsing rule.\n\nSecure Browsing rules define threat-prevention policies for web browsing:\nphishing protection, password-reuse detection, and domain-based filtering."}, "AgentsPolicy": {"properties": {"action": {"anyOf": [{"type": "string", "enum": ["block", "allow", "ask"]}, {"type": "null"}], "title": "Action", "description": "Action to take for MCP server"}, "logging": {"anyOf": [{"$ref": "#/components/schemas/LoggingStatus"}, {"type": "null"}], "description": "Whether logging is enabled"}, "clients": {"anyOf": [{"$ref": "#/components/schemas/MCPClients"}, {"type": "null"}], "description": "Desktop clients selection"}, "servers": {"anyOf": [{"$ref": "#/components/schemas/MCPServers"}, {"type": "null"}], "description": "MCP servers configuration"}, "tooling": {"anyOf": [{"$ref": "#/components/schemas/Tooling"}, {"type": "null"}], "description": "Tooling configuration for MCP"}}, "type": "object", "title": "AgentsPolicy"}, "Assignment": {"properties": {"assignment_id": {"type": "string", "format": "uuid", "title": "Assignment Id", "description": "ID of the user or group"}, "display_name": {"type": "string", "title": "Display Name", "description": "Human-readable name of the user or group"}, "assignment_type": {"$ref": "#/components/schemas/AssignmentType", "description": "Whether this is a user, group, or entire-org assignment"}}, "type": "object", "required": ["assignment_id", "display_name", "assignment_type"], "title": "Assignment", "description": "External-safe twin of Assignment."}, "AssignmentType": {"type": "string", "enum": ["ASSIGNMENT_TYPE_USER", "ASSIGNMENT_TYPE_GROUP", "ASSIGNMENT_TYPE_ENTIRE_ORG"], "title": "AssignmentType"}, "AttachAccessObjectsRequest": {"properties": {"rule_id": {"type": "string", "format": "uuid", "title": "Rule Id", "description": "UUID of the rule to attach objects to"}, "feature": {"type": "string", "enum": ["FILE_EMULATION", "DOMAIN_SERVICES"], "title": "Feature", "description": "Object feature type; Access rules support FILE_EMULATION and DOMAIN_SERVICES"}, "object_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "minItems": 1, "title": "Object Ids", "description": "Object IDs to attach to the rule"}}, "type": "object", "required": ["rule_id", "feature", "object_ids"], "title": "AttachAccessObjectsRequest", "description": "Attach reusable objects to an Access rule.\n\nAccess rules support FILE_EMULATION objects (file scanning/emulation settings)\nand DOMAIN_SERVICES objects (domain allow/block lists)."}, "AttachChatsObjectsRequest": {"properties": {"rule_id": {"type": "string", "format": "uuid", "title": "Rule Id", "description": "UUID of the rule to attach objects to"}, "feature": {"type": "string", "const": "DOMAIN_SERVICES", "title": "Feature", "description": "Object feature type; Chats rules only support DOMAIN_SERVICES"}, "object_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "minItems": 1, "title": "Object Ids", "description": "Object IDs to attach to the rule"}}, "type": "object", "required": ["rule_id", "feature", "object_ids"], "title": "AttachChatsObjectsRequest", "description": "Attach reusable objects to a Chats rule.\n\nChats rules support DOMAIN_SERVICES objects (domain allow/block lists\napplied during chat interactions)."}, "AttachSecureBrowsingObjectsRequest": {"properties": {"rule_id": {"type": "string", "format": "uuid", "title": "Rule Id", "description": "UUID of the rule to attach objects to"}, "feature": {"type": "string", "enum": ["PROTECTED_DOMAINS", "EXCLUDE_DOMAINS"], "title": "Feature", "description": "Object feature type; Secure Browsing supports PROTECTED_DOMAINS and EXCLUDE_DOMAINS"}, "object_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "minItems": 1, "title": "Object Ids", "description": "Object IDs to attach to the rule"}}, "type": "object", "required": ["rule_id", "feature", "object_ids"], "title": "AttachSecureBrowsingObjectsRequest", "description": "Attach reusable objects to a Secure Browsing rule.\n\nSecure Browsing rules support PROTECTED_DOMAINS (domains where threat\nprevention is enforced) and EXCLUDE_DOMAINS (domains exempted from scanning)."}, "CategoryItem": {"properties": {"category_id": {"$ref": "#/components/schemas/URLFCategory", "description": "Category ID from the supported URLF categories. The following categories are available:\n\n| Category | ID |\n|---|---|\n| Uncategorized | 0 |\n| Computers & Internet | 1 |\n| Education | 3 |\n| Entertainment | 5 |\n| Financial Services | 7 |\n| Gambling | 9 |\n| Government / Military | 11 |\n| Greeting Cards | 12 |\n| Hacking | 13 |\n| Hate / Racism | 14 |\n| Health | 15 |\n| Illegal / Questionable | 17 |\n| Illegal Drugs | 18 |\n| Job Search / Careers | 21 |\n| Media Streams | 23 |\n| News / Media | 24 |\n| Newsgroups / Forums | 25 |\n| Nudity | 26 |\n| Personals / Dating | 30 |\n| Phishing | 31 |\n| Political / Legal | 32 |\n| Pornography | 33 |\n| Real Estate | 34 |\n| Recreation | 35 |\n| Religion | 37 |\n| Restaurants / Dining / Food | 39 |\n| Sex Education | 41 |\n| Shopping | 42 |\n| Alcohol / Tobacco | 45 |\n| Art / Culture | 47 |\n| Blogs / Personal Pages | 49 |\n| Business / Economy | 51 |\n| Software Downloads | 53 |\n| Sports | 54 |\n| Spyware / Malicious Sites | 55 |\n| Tasteless | 56 |\n| Translation | 58 |\n| Travel | 59 |\n| Vehicles | 60 |\n| Violence | 61 |\n| Weapons | 62 |\n| Botnets | 65 |\n| Spam | 66 |\n| Inactive Sites | 67 |\n| Fashion | 68 |\n| Non-Profits / NGOs | 69 |\n| Sex | 70 |\n| General | 71 |\n| Nature / Conservation | 72 |\n| Child Abuse | 73 |\n| URL Filtering | 74 |\n| Lifestyle | 75 |\n| Lingerie / Swimsuit / Suggestive | 76 |\n| Suspicious Content | 77 |\n| Marijuana | 78 |\n| Web Advertisements | 50000032 |\n| Instant Chat | 50000086 |\n| Very Low Risk | 51000001 |\n| Low Risk | 51000002 |\n| Medium Risk | 51000003 |\n| High Risk | 51000004 |\n| Critical Risk | 51000005 |\n| Anonymizer | 52000038 |\n| P2P File Sharing | 52000046 |\n| Instant Messaging | 52000047 |\n| Media Sharing | 52000051 |\n| Games | 52000058 |\n| Social Networking | 52000069 |\n| Email | 52000130 |\n| Search Engines / Portals | 52000132 |\n| File Storage / Sharing | 52000136 |\n| Keyloggers | 60530540 |\n| Occult | 60530541 |\n| Hosting Sites | 60530542 |\n| DDNS / Dynamic DNS | 60530648 |\n| Artificial Intelligence (AI) | 60517663 |\n| Generative AI Tools | 60531762 |\n\n**Note:** GenAI rules only allow category 60531762 (Generative AI Tools), used as \"Any AI tool\". Browse rules can use any *other* category."}}, "type": "object", "required": ["category_id"], "title": "CategoryItem"}, "ChatsPolicy": {"properties": {"event_type": {"anyOf": [{"$ref": "#/components/schemas/DLPEventType"}, {"type": "null"}], "description": "Type of event to apply DLP policy on"}, "services_and_application": {"anyOf": [{"$ref": "#/components/schemas/ServicesAndApplication"}, {"type": "null"}], "description": "Services and application configuration"}, "data_types": {"anyOf": [{"items": {"$ref": "#/components/schemas/DataType"}, "type": "array"}, {"type": "null"}], "title": "Data Types", "description": "DLP Data types"}, "action": {"anyOf": [{"type": "string", "enum": ["prevent", "ask", "redact", "detect", "allow", "block"]}, {"type": "null"}], "title": "Action", "description": "Action to take when DLP rule is triggered"}, "logging": {"anyOf": [{"$ref": "#/components/schemas/LoggingStatus"}, {"type": "null"}], "description": "Whether logging is enabled"}}, "type": "object", "title": "ChatsPolicy"}, "ClaudeExtensionsConfig": {"properties": {"extension_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Extension Name", "description": "Extension name from manifest.json", "default": "", "examples": ["chrome-control"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchMode"}, {"type": "null"}], "description": "Match mode for extension_name matching", "default": "exact"}}, "type": "object", "title": "ClaudeExtensionsConfig"}, "CommonDeleteRuleResponse": {"properties": {"message": {"type": "string", "title": "Message"}, "rule_id": {"type": "string", "title": "Rule Id"}}, "type": "object", "required": ["message", "rule_id"], "title": "CommonDeleteRuleResponse", "description": "Confirmation of rule deletion."}, "CommonReorderRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to reorder"}, "new_order": {"type": "integer", "title": "New Order", "description": "Target position in the rulebase (1-based). Lower values = higher priority = evaluated first"}}, "type": "object", "required": ["rule_id", "new_order"], "title": "CommonReorderRequest", "description": "Move a rule to a new position in the rulebase.\n\nOther rules in the same rulebase are shifted automatically to accommodate."}, "CommonSetActiveRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to update"}, "active": {"type": "boolean", "title": "Active", "description": "True to enforce the rule, false to skip it during evaluation"}}, "type": "object", "required": ["rule_id", "active"], "title": "CommonSetActiveRequest", "description": "Enable or disable a rule without deleting it.\n\nInactive rules remain in the rulebase but are skipped during policy evaluation."}, "CommonSetInfoRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to update"}, "name": {"type": "string", "title": "Name", "description": "New human-readable name for the rule"}, "description": {"type": "string", "title": "Description", "description": "New description of the rule's purpose"}}, "type": "object", "required": ["rule_id", "name", "description"], "title": "CommonSetInfoRequest", "description": "Update a rule's display information without changing its policy or assignments."}, "CommonSetSourceRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to update"}, "source": {"items": {"$ref": "#/components/schemas/Assignment"}, "type": "array", "title": "Source", "description": "Complete list of user/group source entries; replaces all existing entries"}}, "type": "object", "required": ["rule_id", "source"], "title": "CommonSetSourceRequest", "description": "Replace the full source list of a rule.\n\nSource entries determine which users or groups the rule applies to.\nAn empty list means the rule applies to everyone in the tenant."}, "CreateDomainsObjectRequest": {"properties": {"name": {"type": "string", "maxLength": 255, "minLength": 1, "title": "Name", "description": "Display name for the object"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description", "description": "Explanation of what this object is used for", "default": ""}, "object_data": {"$ref": "#/components/schemas/DomainsObject", "description": "Domain list configuration (up to 200 domain entries)"}}, "type": "object", "required": ["name", "object_data"], "title": "CreateDomainsObjectRequest", "description": "Create a new domains object.\n\nDomains objects contain a list of domain entries used for domain-based\nfiltering in rules (e.g. protected domains, excluded domains, service domains)."}, "CreateFileProtectionObjectRequest": {"properties": {"name": {"type": "string", "maxLength": 255, "minLength": 1, "title": "Name", "description": "Display name for the object"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description", "description": "Explanation of what this object is used for", "default": ""}, "object_data": {"$ref": "#/components/schemas/FileProtectionObject", "description": "File protection settings: upload/download actions, size limits, fail-close behavior, and per-file-type overrides"}}, "type": "object", "required": ["name", "object_data"], "title": "CreateFileProtectionObjectRequest", "description": "Create a new file-protection object.\n\nFile-protection objects define scanning and emulation behavior for file\nuploads and downloads, including per-file-type action overrides and size limits."}, "CreateObjectResponse": {"properties": {"object_id": {"type": "string", "title": "Object Id", "description": "The UUID of the newly created object"}}, "type": "object", "required": ["object_id"], "title": "CreateObjectResponse", "description": "Response returned after creating an object."}, "DLPEventType": {"type": "string", "enum": ["file_upload", "file_download", "paste", "prompt", "copy"], "title": "DLPEventType"}, "DLPType": {"type": "string", "enum": ["PRE_DEFINED", "CUSTOM"], "title": "DLPType"}, "DataType": {"properties": {"id": {"type": "string", "format": "uuid", "title": "Id", "description": "UUID of the data type", "default": "", "examples": ["cf0523c1-537e-4a4b-8bb8-084b7b9e0b45"]}, "name": {"type": "string", "title": "Name", "description": "Display name of the data type", "default": "", "examples": ["American Express Travelers Cheques Number"]}, "type": {"$ref": "#/components/schemas/DLPType", "description": "Type of the data type", "default": "PRE_DEFINED"}, "matchingLevel": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Matchinglevel", "description": "Matching level for the data type"}}, "type": "object", "title": "DataType"}, "DataTypeInstallationResponse": {"properties": {"tenant_id": {"type": "string", "format": "uuid", "title": "Tenant Id"}, "status": {"$ref": "#/components/schemas/InstallationStatus"}, "data_types_count": {"type": "integer", "title": "Data Types Count"}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At"}}, "type": "object", "required": ["tenant_id", "status", "data_types_count", "updated_at"], "title": "DataTypeInstallationResponse", "description": "Response model for data type installation status."}, "DeleteObjectRequest": {"properties": {"object_id": {"type": "string", "format": "uuid", "title": "Object Id", "description": "ID of the object to delete"}}, "type": "object", "required": ["object_id"], "title": "DeleteObjectRequest", "description": "Delete a policy object.\n\nDeletion will fail with 409 Conflict if the object is currently attached\nto one or more rules. Detach it from all rules first."}, "DetachObjectsRequest": {"properties": {"rule_id": {"type": "string", "format": "uuid", "title": "Rule Id", "description": "UUID of the rule to detach objects from"}, "object_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "minItems": 1, "title": "Object Ids", "description": "Object IDs to remove from the rule"}}, "type": "object", "required": ["rule_id", "object_ids"], "title": "DetachObjectsRequest", "description": "Remove objects from a rule. Works across all rule types that support objects."}, "DlpCreateType": {"type": "string", "enum": ["PRE_DEFINED", "CUSTOM"], "title": "DlpCreateType"}, "DlpDataType": {"properties": {"id": {"type": "string", "title": "Id"}, "assetId": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Assetid"}, "objectStatus": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Objectstatus"}, "name": {"type": "string", "title": "Name"}, "type": {"type": "string", "title": "Type"}, "createType": {"$ref": "#/components/schemas/DlpCreateType"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description"}, "creationTime": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Creationtime"}, "lastUpdateTime": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Lastupdatetime"}, "dataTypeTags": {"anyOf": [{"items": {"$ref": "#/components/schemas/DlpDataTypeTag"}, "type": "array"}, {"type": "null"}], "title": "Datatypetags"}, "redactSupported": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Redactsupported"}, "matchingLevel": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Matchinglevel"}, "content": {"anyOf": [{"additionalProperties": true, "type": "object"}, {"type": "null"}], "title": "Content"}, "comment": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Comment"}}, "additionalProperties": true, "type": "object", "required": ["id", "name", "type", "createType"], "title": "DlpDataType", "example": {"assetId": "3e2ed446-5d2e-4091-b561-2db1458f9791", "createType": "PRE_DEFINED", "creationTime": "2023-02-22T15:23:55.446Z", "dataTypeTags": [{"isCategory": false, "name": "Financial & Business"}], "description": "Matches American Bankers Association (ABA) Routing Transit Numbers", "id": "3e2ed446-5d2e-4091-b561-2db1458f9791", "lastUpdateTime": "2023-02-22T15:23:56.317Z", "matchingLevel": 1, "name": "ABA Transit Numbers", "objectStatus": "Normal", "redactSupported": false, "type": "PATTERN"}}, "DlpDataTypeReference": {"properties": {"id": {"type": "string", "title": "Id"}, "createType": {"$ref": "#/components/schemas/DlpCreateType"}}, "type": "object", "required": ["id", "createType"], "title": "DlpDataTypeReference", "example": {"createType": "PRE_DEFINED", "id": "73e1e0b1-1d23-4281-9ca7-8e64aa2b9e90"}}, "DlpDataTypeTag": {"properties": {"name": {"type": "string", "title": "Name"}, "data": {"anyOf": [{"items": {"type": "string"}, "type": "array"}, {"type": "null"}], "title": "Data"}, "isCategory": {"type": "boolean", "title": "Iscategory"}}, "type": "object", "required": ["name", "isCategory"], "title": "DlpDataTypeTag", "example": {"data": ["Other"], "isCategory": true, "name": "Regulation"}}, "DlpTenantDataType": {"properties": {"id": {"type": "string", "title": "Id"}, "name": {"type": "string", "title": "Name"}, "type": {"type": "string", "title": "Type"}, "createType": {"$ref": "#/components/schemas/DlpCreateType"}, "internal": {"type": "boolean", "title": "Internal"}, "matchingLevel": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Matchinglevel"}}, "type": "object", "required": ["id", "name", "type", "createType", "internal"], "title": "DlpTenantDataType", "example": {"createType": "PRE_DEFINED", "id": "73e1e0b1-1d23-4281-9ca7-8e64aa2b9e90", "internal": false, "matchingLevel": 1, "name": "IP Address", "type": "GROUP"}}, "DockerGatewayConfig": {"properties": {}, "type": "object", "title": "DockerGatewayConfig"}, "DockerRunnerConfig": {"properties": {"image_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Image Name", "description": "Docker image name", "default": "", "examples": ["modelcontextprotocol/server-github"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchMode"}, {"type": "null"}], "description": "Match mode for image_name matching", "default": "exact"}}, "type": "object", "title": "DockerRunnerConfig"}, "DomainConfig": {"properties": {"domain_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Domain Name", "description": "Domain name of the remote server", "default": "", "examples": ["mcp-server.example.com", "example.com"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/DomainMatchMode"}, {"type": "null"}], "description": "Match mode for domain matching (exact_host or any_subdomain)", "default": "exact_host"}}, "type": "object", "title": "DomainConfig"}, "DomainItem": {"properties": {"domain": {"type": "string", "format": "hostname", "title": "Domain", "description": "Valid domain name or IPv4 address"}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/DomainMatchMode"}, {"type": "null"}], "description": "Match mode for domain matching (exact_host or any_subdomain)", "default": "exact_host"}}, "type": "object", "required": ["domain"], "title": "DomainItem"}, "DomainMatchMode": {"type": "string", "enum": ["exact_host", "any_subdomain"], "title": "DomainMatchMode", "description": "Domain matching mode enumeration for remote server domain matching.\n\nMatching modes:\n- EXACT_HOST: Matches the exact host/domain\n  e.g., \"sub1.sub2.something.com\"\n- ANY_SUBDOMAIN: Matches any subdomain of the specified domain\n  e.g., \"something.com\" matches \"sub1.something.com\", \"sub2.something.com\", etc."}, "DomainsObject": {"properties": {"domains": {"items": {"$ref": "#/components/schemas/DomainItem"}, "type": "array", "maxItems": 200, "title": "Domains", "description": "List of domains"}}, "type": "object", "title": "DomainsObject", "description": "External-safe twin of DomainsObject."}, "DomainsObjectResponse": {"properties": {"object_id": {"type": "string", "title": "Object Id", "description": "Unique identifier of the object"}, "name": {"type": "string", "title": "Name", "description": "Display name of the object"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description"}, "version": {"type": "integer", "title": "Version", "description": "Incremented on every update"}, "created_at": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Created At"}, "updated_at": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Updated At"}, "object_data": {"anyOf": [{"$ref": "#/components/schemas/DomainsObject"}, {"type": "null"}], "description": "The domain list entries"}}, "type": "object", "required": ["object_id", "name", "version"], "title": "DomainsObjectResponse", "description": "A domains object with its full configuration."}, "ExecutableServerConfig": {"properties": {"executable_path": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Executable Path", "description": "Path to the executable", "default": "", "examples": ["/path/to/executable"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchMode"}, {"type": "null"}], "description": "Match mode for executable_path matching", "default": "exact"}}, "type": "object", "title": "ExecutableServerConfig"}, "FileActionUnsupported": {"type": "string", "enum": ["Block", "Allow"], "title": "FileActionUnsupported"}, "FileDownloadActionSupported": {"type": "string", "enum": ["na", "Block", "Allow", "EmulateInBackground", "WaitForEmulation", "Detect", "Extract"], "title": "FileDownloadActionSupported"}, "FileFailClose": {"type": "string", "enum": ["FailClose", "FailOpen"], "title": "FileFailClose"}, "FileProtectionObject": {"properties": {"file_download_action_unsupported": {"anyOf": [{"$ref": "#/components/schemas/FileActionUnsupported"}, {"type": "null"}]}, "file_upload_action_unsupported": {"anyOf": [{"$ref": "#/components/schemas/FileActionUnsupported"}, {"type": "null"}]}, "file_download_size_limit_mb": {"anyOf": [{"type": "integer", "maximum": 100.0, "minimum": 1.0}, {"type": "null"}], "title": "File Download Size Limit Mb"}, "file_upload_size_limit_mb": {"anyOf": [{"type": "integer", "maximum": 100.0, "minimum": 1.0}, {"type": "null"}], "title": "File Upload Size Limit Mb"}, "file_download_error_fail_close": {"anyOf": [{"$ref": "#/components/schemas/FileFailClose"}, {"type": "null"}]}, "file_download_size_limit_fail_close": {"anyOf": [{"$ref": "#/components/schemas/FileFailClose"}, {"type": "null"}]}, "file_upload_error_fail_close": {"anyOf": [{"$ref": "#/components/schemas/FileFailClose"}, {"type": "null"}]}, "file_upload_size_limit_fail_close": {"anyOf": [{"$ref": "#/components/schemas/FileFailClose"}, {"type": "null"}]}, "file_download_action_per_supported_file": {"anyOf": [{"additionalProperties": {"$ref": "#/components/schemas/FileDownloadActionSupported"}, "propertyNames": {"$ref": "#/components/schemas/SupportedFileType"}, "type": "object"}, {"type": "null"}], "title": "File Download Action Per Supported File"}, "file_download_action_per_unsupported_file": {"anyOf": [{"additionalProperties": {"$ref": "#/components/schemas/FileActionUnsupported"}, "type": "object", "maxProperties": 1000}, {"type": "null"}], "title": "File Download Action Per Unsupported File"}, "file_upload_action_per_supported_file": {"anyOf": [{"additionalProperties": {"$ref": "#/components/schemas/FileUploadActionSupported"}, "propertyNames": {"$ref": "#/components/schemas/SupportedFileType"}, "type": "object"}, {"type": "null"}], "title": "File Upload Action Per Supported File"}, "file_upload_action_per_unsupported_file": {"anyOf": [{"additionalProperties": {"$ref": "#/components/schemas/FileActionUnsupported"}, "type": "object", "maxProperties": 1000}, {"type": "null"}], "title": "File Upload Action Per Unsupported File"}}, "type": "object", "title": "FileProtectionObject", "description": "External-safe twin of FileProtectionObject."}, "FileProtectionObjectResponse": {"properties": {"object_id": {"type": "string", "title": "Object Id", "description": "Unique identifier of the object"}, "name": {"type": "string", "title": "Name", "description": "Display name of the object"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description"}, "version": {"type": "integer", "title": "Version", "description": "Incremented on every update"}, "created_at": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Created At"}, "updated_at": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Updated At"}, "object_data": {"anyOf": [{"$ref": "#/components/schemas/FileProtectionObject"}, {"type": "null"}], "description": "File protection settings: upload/download actions, size limits, fail-close behavior, and per-file-type overrides"}}, "type": "object", "required": ["object_id", "name", "version"], "title": "FileProtectionObjectResponse", "description": "A file-protection object with its full configuration."}, "FileUploadActionSupported": {"type": "string", "enum": ["na", "Block", "Allow", "EmulateInBackground", "WaitForEmulation", "Detect"], "title": "FileUploadActionSupported"}, "GenAIApp": {"properties": {"id": {"type": "integer", "exclusiveMinimum": 0.0, "title": "Id", "description": "GenAI application ID"}, "mode": {"anyOf": [{"$ref": "#/components/schemas/AccountSelectionMode"}, {"type": "null"}], "description": "Account selection mode: 'all' or 'selected_account'", "default": "all"}, "accounts": {"items": {"$ref": "#/components/schemas/Account"}, "type": "array", "title": "Accounts", "description": "List of selected accounts (used when mode='selected_account')"}}, "type": "object", "required": ["id"], "title": "GenAIApp"}, "GetDlpDataTypesResponse": {"properties": {"status": {"type": "string", "title": "Status"}, "dataTypes": {"items": {"$ref": "#/components/schemas/DlpDataType"}, "type": "array", "title": "Datatypes"}}, "type": "object", "required": ["status", "dataTypes"], "title": "GetDlpDataTypesResponse", "example": {"dataTypes": [{"assetId": "3e2ed446-5d2e-4091-b561-2db1458f9791", "createType": "PRE_DEFINED", "creationTime": "2023-02-22T15:23:55.446Z", "description": "Matches ABA Routing Transit Numbers", "id": "3e2ed446-5d2e-4091-b561-2db1458f9791", "lastUpdateTime": "2023-02-22T15:23:56.317Z", "name": "ABA Transit Numbers", "objectStatus": "Normal", "redactSupported": false, "type": "PATTERN"}], "status": "SUCCESS"}}, "GetDlpTenantDataTypesResponse": {"properties": {"status": {"type": "string", "title": "Status"}, "id": {"type": "string", "title": "Id"}, "dataTypes": {"items": {"$ref": "#/components/schemas/DlpTenantDataType"}, "type": "array", "title": "Datatypes"}}, "type": "object", "required": ["status", "id", "dataTypes"], "title": "GetDlpTenantDataTypesResponse", "example": {"dataTypes": [{"createType": "PRE_DEFINED", "id": "73e1e0b1-1d23-4281-9ca7-8e64aa2b9e90", "internal": false, "name": "IP Address", "type": "GROUP"}, {"createType": "PRE_DEFINED", "id": "d2c4411f-dd0e-495b-b856-5686e68892b4", "internal": false, "name": "PCI - Credit Card Numbers", "type": "PATTERN"}], "id": "bb47587c-fda0-4cb3-896e-1d359d0e3f9d", "status": "SUCCESS"}}, "GetDomainsObjectsResponse": {"properties": {"objects": {"items": {"$ref": "#/components/schemas/DomainsObjectResponse"}, "type": "array", "title": "Objects"}}, "type": "object", "required": ["objects"], "title": "GetDomainsObjectsResponse", "description": "All domains objects for the tenant, including their full configuration."}, "GetFileProtectionObjectsResponse": {"properties": {"objects": {"items": {"$ref": "#/components/schemas/FileProtectionObjectResponse"}, "type": "array", "title": "Objects"}}, "type": "object", "required": ["objects"], "title": "GetFileProtectionObjectsResponse", "description": "All file-protection objects for the tenant, including their full configuration."}, "GetRulebaseResponse": {"properties": {"rulebase_version": {"type": "integer", "title": "Rulebase Version", "description": "Monotonically increasing version of this rulebase. Incremented whenever any rule in the rulebase is created, modified, or deleted. Compare with a previously stored value to detect whether the rulebase has changed (useful for caching or polling)"}, "rules": {"items": {"$ref": "#/components/schemas/RuleResponse"}, "type": "array", "title": "Rules", "description": "All rules in the rulebase, ordered by priority (ascending)"}}, "type": "object", "required": ["rulebase_version", "rules"], "title": "GetRulebaseResponse", "description": "Full rulebase for a given policy type, including its version for change detection."}, "HTTPValidationError": {"properties": {"detail": {"items": {"$ref": "#/components/schemas/ValidationError"}, "type": "array", "title": "Detail"}}, "type": "object", "title": "HTTPValidationError"}, "InstallationStatus": {"type": "string", "enum": ["pending", "success", "failed"], "title": "InstallationStatus", "description": "Status of DLP Next data type installation."}, "LoggingStatus": {"type": "string", "enum": ["enabled", "disabled"], "title": "LoggingStatus", "description": "Logging status enumeration."}, "MCPClient": {"properties": {"os": {"anyOf": [{"$ref": "#/components/schemas/OSType"}, {"type": "null"}], "description": "Operating system for the client"}, "name_id": {"anyOf": [{"$ref": "#/components/schemas/MCPClientNameId"}, {"type": "null"}], "description": "Client name identifier e.g. 'claude_desktop', 'docker_desktop'", "examples": ["claude_desktop", "docker_desktop"]}}, "type": "object", "title": "MCPClient"}, "MCPClientNameId": {"type": "string", "enum": ["claude_desktop", "vscode", "cursor", "windsurf", "zed", "perplexity", "antigravity", "jetbrains", "roo", "cline", "docker_desktop"], "title": "MCPClientNameId", "description": "MCP Client name identifier enumeration."}, "MCPClients": {"properties": {"mode": {"anyOf": [{"$ref": "#/components/schemas/SelectionMode"}, {"type": "null"}], "description": "Mode for client selection"}, "selected": {"anyOf": [{"items": {"$ref": "#/components/schemas/MCPClient"}, "type": "array"}, {"type": "null"}], "title": "Selected", "description": "List of selected clients"}}, "type": "object", "title": "MCPClients"}, "MCPIds": {"properties": {"name_id": {"anyOf": [{"type": "string", "minLength": 1}, {"type": "null"}], "title": "Name Id", "description": "Name of the managed MCP", "default": "", "examples": ["jira", "github"]}}, "type": "object", "title": "MCPIds"}, "MCPRiskLevel": {"properties": {"use_min": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Use Min", "description": "Whether to use minimum risk level limit", "default": false}, "use_max": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Use Max", "description": "Whether to use maximum risk level limit", "default": false}, "min": {"anyOf": [{"type": "integer", "minimum": 0.0}, {"type": "null"}], "title": "Min", "description": "Minimum risk level"}, "max": {"anyOf": [{"type": "integer", "minimum": 0.0}, {"type": "null"}], "title": "Max", "description": "Maximum risk level"}}, "type": "object", "title": "MCPRiskLevel"}, "MCPServer": {"properties": {"server_type": {"anyOf": [{"type": "string", "enum": ["all", "node_server", "python_server", "claude_extensions", "executable_server", "unknown_server", "docker_gateway", "docker_runner", "remote_server"]}, {"type": "null"}], "title": "Server Type", "description": "Type of the MCP server"}, "node_server": {"anyOf": [{"$ref": "#/components/schemas/NodeServerConfig"}, {"type": "null"}], "description": "Node server configuration"}, "python_server": {"anyOf": [{"$ref": "#/components/schemas/PythonServerConfig"}, {"type": "null"}], "description": "Python server configuration"}, "claude_extensions": {"anyOf": [{"$ref": "#/components/schemas/ClaudeExtensionsConfig"}, {"type": "null"}], "description": "Claude extensions configuration"}, "executable_server": {"anyOf": [{"$ref": "#/components/schemas/ExecutableServerConfig"}, {"type": "null"}], "description": "Executable server configuration"}, "unknown_server": {"anyOf": [{"$ref": "#/components/schemas/UnknownServerConfig"}, {"type": "null"}], "description": "Unknown server configuration"}, "docker_gateway": {"anyOf": [{"$ref": "#/components/schemas/DockerGatewayConfig"}, {"type": "null"}], "description": "Docker gateway configuration"}, "docker_runner": {"anyOf": [{"$ref": "#/components/schemas/DockerRunnerConfig"}, {"type": "null"}], "description": "Docker runner configuration"}, "remote_server": {"anyOf": [{"$ref": "#/components/schemas/RemoteServerConfig"}, {"type": "null"}], "description": "Remote server configuration"}}, "type": "object", "title": "MCPServer"}, "MCPServers": {"properties": {"mcp_servers_mode": {"anyOf": [{"$ref": "#/components/schemas/MCPServersMode"}, {"type": "null"}], "description": "Mode for MCP servers selection: all, risk_level, managed, manual"}, "risk_level": {"anyOf": [{"$ref": "#/components/schemas/MCPRiskLevel"}, {"type": "null"}], "description": "Risk level configuration for MCP servers"}, "managed": {"anyOf": [{"$ref": "#/components/schemas/ManagedMCP"}, {"type": "null"}], "description": "Managed MCP configuration"}, "manual": {"anyOf": [{"items": {"$ref": "#/components/schemas/MCPServer"}, "type": "array"}, {"type": "null"}], "title": "Manual", "description": "List of manual MCP servers"}}, "type": "object", "title": "MCPServers"}, "MCPServersMode": {"type": "string", "enum": ["all", "risk_level", "manual", "managed"], "title": "MCPServersMode", "description": "MCP Servers mode enumeration."}, "MCPToolItem": {"properties": {"tool_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Tool Name", "description": "Name of a tool e.g. 'create_issue', 'update_issue'", "default": "", "examples": ["create_issue", "update_issue"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchMode"}, {"type": "null"}], "description": "Match mode for tool name matching", "default": "exact"}}, "type": "object", "title": "MCPToolItem"}, "ManagedMCP": {"properties": {"name_ids": {"anyOf": [{"items": {"$ref": "#/components/schemas/MCPIds"}, "type": "array"}, {"type": "null"}], "title": "Name Ids", "description": "List of managed MCP identifiers"}}, "type": "object", "title": "ManagedMCP"}, "MatchMode": {"type": "string", "enum": ["exact", "contains"], "title": "MatchMode", "description": "Matching mode enumeration."}, "MatchToolsMode": {"type": "string", "enum": ["tools_include", "tools_exclude", "operations", "all"], "title": "MatchToolsMode", "description": "Match mode for tools enumeration."}, "NodeServerConfig": {"properties": {"package_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Package Name", "description": "NPM package name e.g. '@modelcontextprotocol/server-github'", "default": "", "examples": ["@modelcontextprotocol/server-github"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchMode"}, {"type": "null"}], "description": "Match mode for package_name matching", "default": "exact"}}, "type": "object", "title": "NodeServerConfig"}, "OSType": {"type": "string", "enum": ["windows", "macos", "all"], "title": "OSType", "description": "Operating system enumeration."}, "ObjectFeature": {"type": "string", "enum": ["FILE_EMULATION", "PROTECTED_DOMAINS", "DOMAIN_SERVICES", "EXCLUDE_DOMAINS"], "title": "ObjectFeature"}, "ObjectResponse": {"properties": {"object_id": {"type": "string", "title": "Object Id", "description": "Unique identifier of the object"}, "name": {"type": "string", "title": "Name", "description": "Display name of the object"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description"}, "version": {"type": "integer", "title": "Version", "description": "Incremented on every update"}, "created_at": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Created At"}, "updated_at": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Updated At"}}, "type": "object", "required": ["object_id", "name", "version"], "title": "ObjectResponse", "description": "Object metadata without the full configuration payload (used in update responses)."}, "OnOff": {"type": "string", "enum": ["on", "off"], "title": "OnOff", "description": "Simple on/off toggle."}, "OperationMatch": {"type": "string", "enum": ["match", "unmatch"], "title": "OperationMatch", "description": "Operation match enumeration."}, "PatchAccessPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to patch"}, "policy": {"$ref": "#/components/schemas/AccessPolicy", "description": "Partial access policy fields to merge into the existing configuration"}}, "type": "object", "required": ["rule_id", "policy"], "title": "PatchAccessPolicyRequest", "description": "Partially update an Access rule's policy.\n\nOnly the provided fields are deep-merged into the existing policy;\nomitted fields remain unchanged."}, "PatchChatsPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to patch"}, "policy": {"$ref": "#/components/schemas/ChatsPolicy", "description": "Partial Chats policy fields to merge into the existing configuration"}}, "type": "object", "required": ["rule_id", "policy"], "title": "PatchChatsPolicyRequest", "description": "Partially update a Chats rule's policy.\n\nOnly the provided fields are deep-merged into the existing policy;\nomitted fields remain unchanged. Useful for toggling a single setting\nwithout resending the full configuration."}, "PatchMCPServerPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to patch"}, "policy": {"$ref": "#/components/schemas/AgentsPolicy", "description": "Partial Agents policy fields to merge into the existing configuration"}}, "type": "object", "required": ["rule_id", "policy"], "title": "PatchMCPServerPolicyRequest", "description": "Partially update an Agents rule's policy.\n\nOnly the provided fields are deep-merged into the existing policy;\nomitted fields remain unchanged."}, "PatchSecureBrowsingPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to patch"}, "policy": {"$ref": "#/components/schemas/SecureBrowsingPolicy", "description": "Partial Secure Browsing policy fields to merge into the existing configuration"}}, "type": "object", "required": ["rule_id", "policy"], "title": "PatchSecureBrowsingPolicyRequest", "description": "Partially update a Secure Browsing rule's policy.\n\nOnly the provided fields are deep-merged into the existing policy;\nomitted fields remain unchanged."}, "PythonServerConfig": {"properties": {"module_name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Module Name", "description": "Python module name e.g. 'modelcontextprotocol_server_github'", "default": "", "examples": ["modelcontextprotocol_server_github"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchMode"}, {"type": "null"}], "description": "Match mode for module_name matching", "default": "exact"}}, "type": "object", "title": "PythonServerConfig"}, "RemoteServerConfig": {"properties": {"match_mode": {"anyOf": [{"type": "string", "enum": ["url", "domain"]}, {"type": "null"}], "title": "Match Mode", "description": "Match mode type: 'url' for URL-based matching or 'domain' for domain-based matching"}, "url": {"anyOf": [{"$ref": "#/components/schemas/URLConfig"}, {"type": "null"}], "description": "URL configuration for remote server (used when match_mode='url')"}, "domain": {"anyOf": [{"$ref": "#/components/schemas/DomainConfig"}, {"type": "null"}], "description": "Domain configuration for remote server (used when match_mode='domain')"}}, "type": "object", "title": "RemoteServerConfig"}, "RuleResponse": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "Unique identifier of the rule"}, "name": {"type": "string", "title": "Name", "description": "Human-readable rule name"}, "description": {"type": "string", "title": "Description", "description": "Explanation of the rule's purpose", "default": ""}, "version": {"type": "integer", "title": "Version", "description": "Incremented on every modification; can be used for optimistic concurrency checks"}, "order": {"type": "integer", "title": "Order", "description": "Position in the rulebase that determines evaluation priority. Lower values are evaluated first; when two rules match the same request, the lower-order rule takes precedence"}, "active": {"type": "boolean", "title": "Active", "description": "Whether the rule is currently enforced; inactive rules are skipped"}, "created_at": {"type": "string", "format": "date-time", "title": "Created At"}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At"}, "policy": {"anyOf": [{"$ref": "#/components/schemas/ChatsPolicy"}, {"$ref": "#/components/schemas/AccessPolicy"}, {"$ref": "#/components/schemas/AgentsPolicy"}, {"$ref": "#/components/schemas/SecureBrowsingPolicy"}], "title": "Policy", "description": "The enforcement configuration for this rule. Structure varies by rulebase type (Chats, Access, Agents, Secure Browsing)"}, "source": {"items": {"$ref": "#/components/schemas/Assignment"}, "type": "array", "title": "Source", "description": "Users or groups this rule applies to (source entries). An empty list means the rule matches all users in the tenant"}, "objects": {"anyOf": [{"additionalProperties": {"items": {"type": "string"}, "type": "array"}, "propertyNames": {"$ref": "#/components/schemas/ObjectFeature"}, "type": "object"}, {"type": "null"}], "title": "Objects", "description": "Reusable policy objects attached to this rule, keyed by feature (e.g. FILE_EMULATION, DOMAIN_SERVICES). Values are lists of object IDs. Objects allow sharing configuration (domain lists, file-protection settings) across rules"}}, "type": "object", "required": ["rule_id", "name", "version", "order", "active", "created_at", "updated_at", "policy"], "title": "RuleResponse", "description": "A single rule within a rulebase."}, "SecureBrowsingPolicy": {"properties": {"password_reuse": {"anyOf": [{"$ref": "#/components/schemas/ThreatPreventionAction"}, {"type": "null"}]}, "zero_phishing": {"anyOf": [{"$ref": "#/components/schemas/ThreatPreventionAction"}, {"type": "null"}]}, "safe_search": {"anyOf": [{"$ref": "#/components/schemas/OnOff"}, {"type": "null"}]}, "search_reputation": {"anyOf": [{"$ref": "#/components/schemas/OnOff"}, {"type": "null"}]}, "domain_exclusions": {"items": {"$ref": "#/components/schemas/DomainItem"}, "type": "array", "title": "Domain Exclusions", "description": "List of excluded domains"}, "protected_domains": {"items": {"$ref": "#/components/schemas/DomainItem"}, "type": "array", "title": "Protected Domains", "description": "List of protected domains"}}, "type": "object", "title": "SecureBrowsingPolicy"}, "SelectionMode": {"type": "string", "enum": ["selected", "all"], "title": "SelectionMode", "description": "Selection mode enumeration."}, "ServerOperations": {"properties": {"CREATE": {"anyOf": [{"$ref": "#/components/schemas/OperationMatch"}, {"type": "null"}], "description": "Match or unmatch CREATE operation"}, "READ": {"anyOf": [{"$ref": "#/components/schemas/OperationMatch"}, {"type": "null"}], "description": "Match or unmatch READ operation"}, "UPDATE": {"anyOf": [{"$ref": "#/components/schemas/OperationMatch"}, {"type": "null"}], "description": "Match or unmatch UPDATE operation"}, "DELETE": {"anyOf": [{"$ref": "#/components/schemas/OperationMatch"}, {"type": "null"}], "description": "Match or unmatch DELETE operation"}, "OTHER": {"anyOf": [{"$ref": "#/components/schemas/OperationMatch"}, {"type": "null"}], "description": "Match or unmatch OTHER operation (those not detected)"}}, "type": "object", "title": "ServerOperations"}, "ServicesAndApplication": {"properties": {"domain": {"items": {"$ref": "#/components/schemas/DomainItem"}, "type": "array", "title": "Domain", "description": "List of domains"}, "url": {"items": {"$ref": "#/components/schemas/URLItem"}, "type": "array", "title": "Url", "description": "List of URLs"}, "genai_application": {"items": {"$ref": "#/components/schemas/GenAIApp"}, "type": "array", "title": "Genai Application", "description": "List of GenAI applications"}, "category": {"items": {"$ref": "#/components/schemas/CategoryItem"}, "type": "array", "title": "Category", "description": "List of URLF categories"}, "mode": {"anyOf": [{"$ref": "#/components/schemas/SelectionMode"}, {"type": "null"}], "description": "Whether to apply to all services and applications or to only selected ones"}}, "type": "object", "title": "ServicesAndApplication"}, "SetAccessObjectsRequest": {"properties": {"rule_id": {"type": "string", "format": "uuid", "title": "Rule Id", "description": "UUID of the rule"}, "feature": {"type": "string", "enum": ["FILE_EMULATION", "DOMAIN_SERVICES"], "title": "Feature"}, "object_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "title": "Object Ids", "description": "Complete set of object IDs; replaces all existing for this feature"}}, "type": "object", "required": ["rule_id", "feature"], "title": "SetAccessObjectsRequest", "description": "Set (replace) all objects for an Access rule for a given feature."}, "SetAccessPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to update"}, "policy": {"$ref": "#/components/schemas/AccessPolicy", "description": "Complete access policy; replaces the existing configuration entirely"}}, "type": "object", "required": ["rule_id", "policy"], "title": "SetAccessPolicyRequest", "description": "Replace the entire Access policy of a rule (full overwrite)."}, "SetChatsObjectsRequest": {"properties": {"rule_id": {"type": "string", "format": "uuid", "title": "Rule Id", "description": "UUID of the rule"}, "feature": {"type": "string", "const": "DOMAIN_SERVICES", "title": "Feature", "description": "Object feature type"}, "object_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "title": "Object Ids", "description": "Complete set of object IDs; replaces all existing for this feature"}}, "type": "object", "required": ["rule_id", "feature"], "title": "SetChatsObjectsRequest", "description": "Set (replace) all objects for a Chats rule for a given feature."}, "SetChatsPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to update"}, "policy": {"$ref": "#/components/schemas/ChatsPolicy", "description": "Complete Chats policy; replaces the existing configuration entirely"}}, "type": "object", "required": ["rule_id", "policy"], "title": "SetChatsPolicyRequest", "description": "Replace the entire Chats policy of a rule (full overwrite)."}, "SetDlpTenantDataTypesRequest": {"properties": {"dataTypes": {"items": {"$ref": "#/components/schemas/DlpDataTypeReference"}, "type": "array", "title": "Datatypes", "example": [{"createType": "PRE_DEFINED", "id": "73e1e0b1-1d23-4281-9ca7-8e64aa2b9e90"}, {"createType": "PRE_DEFINED", "id": "d2c4411f-dd0e-495b-b856-5686e68892b4"}]}}, "type": "object", "required": ["dataTypes"], "title": "SetDlpTenantDataTypesRequest"}, "SetDlpTenantDataTypesResponse": {"properties": {"status": {"type": "string", "title": "Status"}, "id": {"type": "string", "title": "Id"}, "dataSetStatus": {"type": "string", "title": "Datasetstatus"}}, "type": "object", "required": ["status", "id", "dataSetStatus"], "title": "SetDlpTenantDataTypesResponse", "example": {"dataSetStatus": "IN_PROGRESS", "id": "bb47587c-fda0-4cb3-896e-1d359d0e3f9d", "status": "SUCCESS"}}, "SetMCPServerPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to update"}, "policy": {"$ref": "#/components/schemas/AgentsPolicy", "description": "Complete Agents policy; replaces the existing configuration entirely"}}, "type": "object", "required": ["rule_id", "policy"], "title": "SetMCPServerPolicyRequest", "description": "Replace the entire Agents policy of a rule (full overwrite)."}, "SetSecureBrowsingObjectsRequest": {"properties": {"rule_id": {"type": "string", "format": "uuid", "title": "Rule Id", "description": "UUID of the rule"}, "feature": {"type": "string", "enum": ["PROTECTED_DOMAINS", "EXCLUDE_DOMAINS"], "title": "Feature"}, "object_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "title": "Object Ids", "description": "Complete set of object IDs; replaces all existing for this feature"}}, "type": "object", "required": ["rule_id", "feature"], "title": "SetSecureBrowsingObjectsRequest", "description": "Set (replace) all objects for a Secure Browsing rule for a given feature."}, "SetSecureBrowsingPolicyRequest": {"properties": {"rule_id": {"type": "string", "title": "Rule Id", "description": "UUID of the rule to update"}, "policy": {"$ref": "#/components/schemas/SecureBrowsingPolicy", "description": "Complete Secure Browsing policy; replaces the existing configuration entirely"}}, "type": "object", "required": ["rule_id", "policy"], "title": "SetSecureBrowsingPolicyRequest", "description": "Replace the entire Secure Browsing policy of a rule (full overwrite)."}, "SupportedFileType": {"type": "string", "enum": ["pdf", "doc", "docx", "xls", "xlsx", "ppt", "pptx", "exe", "tar", "zip", "rar", "7z", "rtf", "dot", "docm", "dotx", "dotm", "xlt", "xlm", "xltx", "xlsm", "xltm", "xlsb", "xla", "xlam", "xll", "xlw", "pps", "pptm", "potx", "potm", "ppam", "ppsx", "ppsm", "sldx", "sldm", "csv", "scr", "swf", "jar", "cab", "tgz", "pif", "gz", "bz2", "tbz2", "tb2", "tbz", "com", "xz", "cpl", "dll", "lnk", "img", "iso", "wim", "arj", "bat", "ps1", "hwp", "iqy", "slk", "udf", "uue", "pkg", "msi", "msg", "o", "dylib", "app", "dmg", "qcow2", "sh", "one", "xar", "wsf", "aspx"], "title": "SupportedFileType"}, "ThreatPreventionAction": {"type": "string", "enum": ["detect", "prevent", "ask", "off"], "title": "ThreatPreventionAction", "description": "Actions for threat prevention features."}, "Tooling": {"properties": {"match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchToolsMode"}, {"type": "null"}], "description": "Match mode for tools: tools_include, tools_exclude, operations, all"}, "tools": {"anyOf": [{"items": {"$ref": "#/components/schemas/MCPToolItem"}, "type": "array"}, {"type": "null"}], "title": "Tools", "description": "List of tools for matching"}, "operations": {"anyOf": [{"$ref": "#/components/schemas/ServerOperations"}, {"type": "null"}], "description": "Operations match configuration"}}, "type": "object", "title": "Tooling"}, "URLConfig": {"properties": {"url": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Url", "description": "URL of the remote server", "default": "", "examples": ["https://mcp-server.example.com/path"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/URLMatchMode"}, {"type": "null"}], "description": "Match mode for URL matching (exact_url or url_contains)", "default": "exact_url"}}, "type": "object", "title": "URLConfig"}, "URLFCategory": {"type": "integer", "enum": [1, 3, 5, 7, 11, 12, 15, 32, 21, 24, 25, 0, 34, 35, 37, 39, 41, 42, 45, 47, 49, 51, 53, 54, 58, 59, 60, 68, 69, 71, 72, 74, 75, 76, 51000001, 51000002, 52000130, 50000032, 52000132, 60517663, 60530541, 60530542, 60530648, 31, 55, 65, 66, 67, 77, 51000003, 51000004, 51000005, 52000038, 60530540, 9, 13, 14, 17, 18, 26, 33, 56, 61, 62, 70, 73, 78, 30, 52000047, 52000058, 52000069, 50000086, 23, 52000136, 52000046, 52000051, 60531762], "title": "URLFCategory", "description": "URLF Category enumeration with display names as keys and category IDs as values."}, "URLItem": {"properties": {"url": {"type": "string", "format": "uri", "title": "Url", "description": "Valid URL"}}, "type": "object", "required": ["url"], "title": "URLItem"}, "URLMatchMode": {"type": "string", "enum": ["exact_url", "url_contains"], "title": "URLMatchMode", "description": "URL matching mode enumeration for remote server URL matching.\n\nMatching modes:\n- EXACT_URL: Matches the exact full URL\n  e.g., \"http://sub1.sub2.something.com/alsohere/something\"\n- URL_CONTAINS: Matches if the URL contains the specified string\n  e.g., \"alsohere\" matches any URL containing \"alsohere\""}, "UnknownServerConfig": {"properties": {"args": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Args", "description": "Arguments for unknown server types", "default": "", "examples": ["--default-arg"]}, "match_mode": {"anyOf": [{"$ref": "#/components/schemas/MatchMode"}, {"type": "null"}], "description": "Match mode for args matching", "default": "exact"}}, "type": "object", "title": "UnknownServerConfig"}, "UpdateDomainsObjectRequest": {"properties": {"object_id": {"type": "string", "format": "uuid", "title": "Object Id", "description": "ID of the object to update"}, "name": {"anyOf": [{"type": "string", "maxLength": 255, "minLength": 1}, {"type": "null"}], "title": "Name", "description": "New display name"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description", "description": "New description"}, "object_data": {"anyOf": [{"$ref": "#/components/schemas/DomainsObject"}, {"type": "null"}], "description": "New domain list; replaces the existing list entirely"}}, "type": "object", "required": ["object_id"], "title": "UpdateDomainsObjectRequest", "description": "Update an existing domains object.\n\nAll fields are optional; only provided fields are updated.\nIf object_data is provided, it replaces the existing domain list entirely."}, "UpdateFileProtectionObjectRequest": {"properties": {"object_id": {"type": "string", "format": "uuid", "title": "Object Id", "description": "ID of the object to update"}, "name": {"anyOf": [{"type": "string", "maxLength": 255, "minLength": 1}, {"type": "null"}], "title": "Name", "description": "New display name"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description", "description": "New description"}, "object_data": {"anyOf": [{"$ref": "#/components/schemas/FileProtectionObject"}, {"type": "null"}], "description": "New file protection configuration; replaces the existing settings entirely"}}, "type": "object", "required": ["object_id"], "title": "UpdateFileProtectionObjectRequest", "description": "Update an existing file-protection object.\n\nAll fields are optional; only provided fields are updated.\nIf object_data is provided, it replaces the existing configuration entirely."}, "UpdateObjectResponse": {"properties": {"objects": {"items": {"$ref": "#/components/schemas/ObjectResponse"}, "type": "array", "title": "Objects"}}, "type": "object", "required": ["objects"], "title": "UpdateObjectResponse", "description": "Response after updating an object (returns metadata only)."}, "ValidationError": {"properties": {"loc": {"items": {"anyOf": [{"type": "string"}, {"type": "integer"}]}, "type": "array", "title": "Location"}, "msg": {"type": "string", "title": "Message"}, "type": {"type": "string", "title": "Error Type"}, "input": {"title": "Input"}, "ctx": {"type": "object", "title": "Context"}}, "type": "object", "required": ["loc", "msg", "type"], "title": "ValidationError"}, "Asset": {"properties": {"device": {"$ref": "#/components/schemas/Device"}, "user": {"anyOf": [{"$ref": "#/components/schemas/User"}, {"type": "null"}]}, "ping": {"anyOf": [{"$ref": "#/components/schemas/Ping"}, {"type": "null"}]}, "deployment": {"anyOf": [{"additionalProperties": {"$ref": "#/components/schemas/ModuleDeploymentData"}, "propertyNames": {"$ref": "#/components/schemas/ModuleEnum"}, "type": "object"}, {"type": "null"}], "title": "Deployment"}, "policy": {"anyOf": [{"additionalProperties": {"additionalProperties": {"$ref": "#/components/schemas/PolicyTypeData"}, "propertyNames": {"$ref": "#/components/schemas/PolicyType"}, "type": "object"}, "propertyNames": {"$ref": "#/components/schemas/RequestSource"}, "type": "object"}, {"type": "null"}], "title": "Policy"}, "status": {"anyOf": [{"additionalProperties": {"$ref": "#/components/schemas/HealthStatus"}, "propertyNames": {"$ref": "#/components/schemas/StatusComponent"}, "type": "object"}, {"type": "null"}], "title": "Status"}, "environment": {"anyOf": [{"$ref": "#/components/schemas/EnvironmentData"}, {"type": "null"}]}}, "type": "object", "required": ["device"], "title": "Asset", "description": "Complete asset with optional joined domains."}, "AssetsCountRequest": {"properties": {"filters": {"items": {"$ref": "#/components/schemas/FilterCondition"}, "type": "array", "title": "Filters", "description": "Filter conditions"}, "search": {"anyOf": [{"$ref": "#/components/schemas/SearchParams"}, {"type": "null"}], "description": "Free text search for device name or user name"}}, "type": "object", "title": "AssetsCountRequest", "description": "Request for querying assets count with optional filters."}, "AssetsCountResponse": {"properties": {"tenant_id": {"type": "string", "format": "uuid", "title": "Tenant Id"}, "count": {"type": "integer", "title": "Count"}, "filters_applied": {"type": "integer", "title": "Filters Applied", "description": "Number of filters that were applied"}}, "type": "object", "required": ["tenant_id", "count", "filters_applied"], "title": "AssetsCountResponse", "description": "Response for count queries."}, "AssetsPagination": {"properties": {"limit": {"type": "integer", "maximum": 1000.0, "minimum": 1.0, "title": "Limit", "description": "Number of items per page (max: 1000)", "default": 50}, "offset": {"type": "integer", "minimum": 0.0, "title": "Offset", "description": "Number of items to skip", "default": 0}}, "type": "object", "title": "AssetsPagination", "description": "Pagination parameters."}, "AssetsRequest": {"properties": {"joins": {"items": {"$ref": "#/components/schemas/JoinDomain"}, "type": "array", "title": "Joins", "description": "Domains to join"}, "filters": {"items": {"$ref": "#/components/schemas/FilterCondition"}, "type": "array", "title": "Filters", "description": "Filter conditions"}, "sort": {"items": {"$ref": "#/components/schemas/SortCondition"}, "type": "array", "title": "Sort", "description": "Sort conditions"}, "pagination": {"$ref": "#/components/schemas/AssetsPagination", "description": "Pagination parameters"}, "search": {"anyOf": [{"$ref": "#/components/schemas/SearchParams"}, {"type": "null"}], "description": "Free text search for device name or user name"}}, "type": "object", "title": "AssetsRequest", "description": "Request for querying assets with explicit joins."}, "AssetsResponse": {"properties": {"tenant_id": {"type": "string", "format": "uuid", "title": "Tenant Id"}, "assets": {"items": {"$ref": "#/components/schemas/Asset"}, "type": "array", "title": "Assets"}, "limit": {"type": "integer", "title": "Limit"}, "offset": {"type": "integer", "title": "Offset"}}, "type": "object", "required": ["tenant_id", "assets", "limit", "offset"], "title": "AssetsResponse", "description": "Response with assets and pagination metadata."}, "Device": {"properties": {"device_unique_id": {"type": "string", "format": "uuid", "title": "Device Unique Id", "description": "Unique device identifier"}, "name": {"type": "string", "title": "Name", "description": "Device name (unique per tenant)"}, "device_sid": {"type": "string", "title": "Device Sid", "description": "Device SID"}, "created_at": {"type": "string", "format": "date-time", "title": "Created At", "description": "Created timestamp"}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At", "description": "Updated timestamp"}}, "type": "object", "required": ["device_unique_id", "name", "device_sid", "created_at", "updated_at"], "title": "Device", "description": "External-safe twin of GlobalDevice."}, "DeviceTypeEnum": {"type": "string", "enum": ["Laptop", "Desktop", "Workstation", "unknown"], "title": "DeviceTypeEnum"}, "EnvironmentData": {"properties": {"device_type": {"anyOf": [{"$ref": "#/components/schemas/DeviceTypeEnum"}, {"type": "null"}], "description": "Device type (laptop, desktop, etc.)"}, "os": {"anyOf": [{"$ref": "#/components/schemas/OSEnum"}, {"type": "null"}], "description": "Operating system"}, "os_version": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Os Version", "description": "Operating system version"}, "ip": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ip", "description": "Device IP address (IPv4 or IPv6)"}}, "type": "object", "title": "EnvironmentData", "description": "External-safe twin of EnvironmentData."}, "FilterCondition": {"properties": {"field": {"$ref": "#/components/schemas/FilterableField", "description": "Field to filter on"}, "operator": {"$ref": "#/components/schemas/FilterOperator", "description": "Filter operator"}, "value": {"anyOf": [{}, {"type": "null"}], "title": "Value", "description": "Single value (for equals, contains, gte, lte)"}, "values": {"anyOf": [{"items": {}, "type": "array"}, {"type": "null"}], "title": "Values", "description": "List of values (for in, between)"}}, "type": "object", "required": ["field", "operator"], "title": "FilterCondition", "description": "Filter condition on a single asset field."}, "FilterOperator": {"type": "string", "enum": ["equals", "in", "contains", "gte", "lte", "between"], "title": "FilterOperator", "description": "Filter operators for different field types."}, "FilterableField": {"type": "string", "enum": ["device_name", "device_sid", "device_created_at", "device_updated_at", "user_name", "user_display_name", "user_samname", "user_created_at", "user_updated_at", "last_connected", "os", "os_version", "device_type", "ip", "installer_version", "chrome_extension_version", "firefox_extension_version", "edge_extension_version", "brave_extension_version", "mcp_version", "proxy_version"], "title": "FilterableField", "description": "Fields available for filtering and sorting assets.\n\nEach value maps to an internal DB field path (see FIELD_TO_INTERNAL_PATH).\nOnly the listed fields can be used in filter/sort conditions."}, "HealthStatus": {"type": "string", "enum": ["healthy", "unhealthy"], "title": "HealthStatus", "description": "Component health derived from status code: healthy when code == 0, unhealthy otherwise."}, "JoinDomain": {"type": "string", "enum": ["users", "pings", "deployment", "policy", "status", "environment"], "title": "JoinDomain", "description": "Available domains to join with devices table."}, "ModuleDeploymentData": {"properties": {"version": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Version", "description": "Current version"}}, "type": "object", "title": "ModuleDeploymentData", "description": "External-safe twin of ModuleDeploymentData \u2014 exposes version only."}, "ModuleEnum": {"type": "string", "enum": ["chrome", "firefox", "edge", "brave", "comet", "safari", "surf", "mcp", "proxy", "da"], "title": "ModuleEnum"}, "OSEnum": {"type": "string", "enum": ["Windows", "macOS", "Linux"], "title": "OSEnum", "description": "Operating system enumeration"}, "Ping": {"properties": {"last_connected": {"type": "string", "format": "date-time", "title": "Last Connected", "description": "Last connection timestamp"}}, "type": "object", "required": ["last_connected"], "title": "Ping", "description": "External-safe twin of PingData."}, "PolicyTypeData": {"properties": {"rulebase_version": {"type": "integer", "title": "Rulebase Version", "description": "Version of the rulebase"}}, "type": "object", "required": ["rulebase_version"], "title": "PolicyTypeData", "description": "Policy rulebase version for a given policy type."}, "PolicyType": {"type": "string", "enum": ["chats", "access", "agents", "browse_securing"], "title": "PolicyType", "description": "External-facing policy types with consumer-friendly names."}, "RequestSource": {"type": "string", "enum": ["device", "edge", "chrome", "firefox", "brave", "comet", "safari", "surf", "na"], "title": "RequestSource"}, "SearchParams": {"properties": {"term": {"type": "string", "title": "Term", "description": "Search term to match"}, "case_sensitive": {"type": "boolean", "title": "Case Sensitive", "description": "Whether search is case-sensitive (default: False for case-insensitive)", "default": false}, "match_anywhere": {"type": "boolean", "title": "Match Anywhere", "description": "Whether to match anywhere in text (True) or only at the beginning (False, default)", "default": false}}, "type": "object", "required": ["term"], "title": "SearchParams", "description": "Free text search parameters for device name and user name."}, "SortCondition": {"properties": {"field": {"$ref": "#/components/schemas/FilterableField", "description": "Field to sort by"}, "order": {"$ref": "#/components/schemas/SortOrder", "description": "Sort order", "default": "desc"}}, "type": "object", "required": ["field"], "title": "SortCondition", "description": "Sort condition on a single asset field."}, "SortOrder": {"type": "string", "enum": ["asc", "desc"], "title": "SortOrder"}, "StatusComponent": {"type": "string", "enum": ["proxy_health", "mcp_health"], "title": "StatusComponent", "description": "External-facing subset of status components exposed to API consumers."}, "User": {"properties": {"user_unique_id": {"type": "string", "format": "uuid", "title": "User Unique Id", "description": "Unique user identifier"}, "name": {"type": "string", "title": "Name", "description": "User name"}, "display_name": {"type": "string", "title": "Display Name", "description": "Display name"}, "samname": {"type": "string", "title": "Samname", "description": "SAM account name (unique per tenant)"}, "created_at": {"type": "string", "format": "date-time", "title": "Created At", "description": "Created timestamp"}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At", "description": "Updated timestamp"}}, "type": "object", "required": ["user_unique_id", "name", "display_name", "samname", "created_at", "updated_at"], "title": "User", "description": "External-safe twin of GlobalUser."}, "UserItem": {"properties": {"user_unique_id": {"type": "string", "format": "uuid", "title": "User Unique Id", "description": "Unique user identifier"}, "name": {"type": "string", "title": "Name", "description": "User name (CN path)"}, "display_name": {"type": "string", "title": "Display Name", "description": "Display name"}, "samname": {"type": "string", "title": "Samname", "description": "SAM account name"}}, "type": "object", "required": ["user_unique_id", "name", "display_name", "samname"], "title": "UserItem", "description": "External-safe user item."}, "UsersByIdsRequest": {"properties": {"user_ids": {"items": {"type": "string", "format": "uuid"}, "type": "array", "maxItems": 500, "minItems": 1, "title": "User Ids", "description": "Array of user unique IDs (max: 500)"}}, "type": "object", "required": ["user_ids"], "title": "UsersByIdsRequest", "description": "Request for getting users by an array of IDs."}, "UsersByIdsResponse": {"properties": {"tenant_id": {"type": "string", "format": "uuid", "title": "Tenant Id"}, "users": {"items": {"$ref": "#/components/schemas/UserItem"}, "type": "array", "title": "Users"}}, "type": "object", "required": ["tenant_id", "users"], "title": "UsersByIdsResponse", "description": "Response with users by IDs."}, "UsersPagination": {"properties": {"limit": {"type": "integer", "maximum": 100.0, "minimum": 1.0, "title": "Limit", "description": "Number of items per page (max: 100)", "default": 50}, "offset": {"type": "integer", "minimum": 0.0, "title": "Offset", "description": "Number of items to skip", "default": 0}}, "type": "object", "title": "UsersPagination", "description": "Pagination parameters for users (max 100 per page)."}, "UsersRequest": {"properties": {"search": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Search", "description": "Search term for case-insensitive match on user name and display name"}, "pagination": {"$ref": "#/components/schemas/UsersPagination", "description": "Pagination parameters"}}, "type": "object", "title": "UsersRequest", "description": "Request for querying users."}, "UsersResponse": {"properties": {"tenant_id": {"type": "string", "format": "uuid", "title": "Tenant Id"}, "users": {"items": {"$ref": "#/components/schemas/UserItem"}, "type": "array", "title": "Users"}, "limit": {"type": "integer", "title": "Limit"}, "offset": {"type": "integer", "title": "Offset"}}, "type": "object", "required": ["tenant_id", "users", "limit", "offset"], "title": "UsersResponse", "description": "Response with users and pagination metadata."}, "AppResult": {"properties": {"app_id": {"type": "integer", "title": "App Id", "description": "Unique app identifier"}, "name": {"type": "string", "title": "Name", "description": "App name"}, "description": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Description", "description": "App description"}, "page_url": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Page Url", "description": "App page URL"}}, "type": "object", "required": ["app_id", "name"], "title": "AppResult", "description": "A single app result with minimal fields."}, "AppSearchRequest": {"properties": {"search": {"type": "string", "maxLength": 200, "minLength": 1, "title": "Search", "description": "Search term"}, "search_by": {"$ref": "#/components/schemas/SearchBy", "description": "Search mode: name, name_and_description, or url", "default": "name"}}, "type": "object", "required": ["search"], "title": "AppSearchRequest", "description": "Request for searching GenAI apps."}, "AppSearchResponse": {"properties": {"results": {"items": {"$ref": "#/components/schemas/AppResult"}, "type": "array", "title": "Results", "description": "Matching apps (max 10)"}}, "type": "object", "title": "AppSearchResponse", "description": "Response with matching apps (max 10)."}, "AppsByIdsRequest": {"properties": {"ids": {"items": {"type": "integer"}, "type": "array", "maxItems": 100, "minItems": 1, "title": "Ids", "description": "Array of app IDs (max: 100)"}}, "type": "object", "required": ["ids"], "title": "AppsByIdsRequest", "description": "Request for getting apps by an array of IDs."}, "AppsByIdsResponse": {"properties": {"results": {"items": {"$ref": "#/components/schemas/AppResult"}, "type": "array", "title": "Results", "description": "Matching apps"}}, "type": "object", "title": "AppsByIdsResponse", "description": "Response with apps by IDs."}, "SearchBy": {"type": "string", "enum": ["name", "name_and_description", "url"], "title": "SearchBy"}}, "securitySchemes": {"HTTPBearer": {"type": "http", "scheme": "bearer"}}}}